.domainEntryForm {
    background: #f3efea;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.domainDescription {
    height: auto;
}

.addButton {
    background-color: #6DB9EE;
    border: 1px solid #2F79AD;
    border-radius: 4px;
    cursor: pointer;
    padding: .5rem;
    margin-top: .5rem;
    width: 25%;
}

.addButton:hover {
    background-color: #2F79AD;
}

.addButton:disabled {
    background-color: #aaa;
    border-color: #999;
    cursor: not-allowed;
}

.domainNameLabel  {
    grid-area: domain-name-label
}

.domainDescriptionLabel {
    grid-area: domain-description-label
}
