.domainTable {
    background: #f3efea;
    border: 1px solid gray;
    padding: 10px;

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 20px;
        text-align: left;
    }

    th {
        text-align: center;
    }
}
